:root {
  --accent: tomato;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  overflow: clip;
  height: 100vh;
}

th,
td {
  border: 1px solid green;
}

.table {
  width: 100%;
}

button {
  background-color: unset;
  border: unset;
}

.button {
  display: inline-block;
  margin-left: auto;
  margin-top: 10px;
  font-weight: 700;
  background-color: var(--accent);
  color: antiquewhite;
  width: 70px;
  height: 25px;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.4s;
}

.plus {
  font-size: 24px;
  width: 95%;
  font-weight: 300;
  padding: 20px;
  margin: 0 auto;
}

.minus {
  position: absolute;
  font-size: 32px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  right: -22px;
  z-index: 20;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  color: var(--accent);
  background-color: unset;
}

.button:hover {
  transform: scale(1.02);
}

.table__row {
  position: relative;
}

.row__button {
  border: none;
  width: 0;
  height: 0;
  position: absolute;
}

.row__cell {
  width: 100%;
  height: 100%;
  text-align-last: left;
  background-color: transparent;
  transform: all 0.8s;
}

.row__cell:hover {
  background-color: rgba(255, 127, 80, 0.096);
}

.row__cell::after {
  content: attr(data-percentage);
}

.nearest {
  background-color: coral;
}

.remove__column {
  width: 30px;
  border: none;
}
